<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../vue.js"></script>
  <title>表单复选框</title>
</head>

<body>
  <div id="myApp">
    <h1>表单复选框</h1>

    <input type="checkbox" value="皇家马德里" id="hm" v-model="checkClubs">
    <label for="hm">皇家马德里</label>

    <input type="checkbox" value="巴塞罗那" id="bs" v-model="checkClubs">
    <label for="bs">巴塞罗那</label>

    <input type="checkbox" value="尤文图斯" id="yw" v-model="checkClubs">
    <label for="yw">尤文图斯</label>

    <input type="checkbox" value="巴黎圣日尔曼" id="bl" v-model="checkClubs">
    <label for="bl">巴黎圣日尔曼</label>

    <p>你选择的俱乐部是：{{checkClubs}}</p>
  </div>

  <script>
    var myApp = new Vue({
      el: '#myApp',
      data: {
        checkClubs: []
      }
    })
  </script>
</body>

</html>